.~lock.research_results.xlsx#
.~lock.research.db#
.~lock.universities.csv#
mprofile_20250205210754.dat
mprofile_20250205210800.dat
proxies_list.txt
research_results.xlsx
research.db
Tasks.dbf
research.db
Tasks.dbt
universities.csv
utils/__pycache__/__init__.cpython-311.pyc
utils/__pycache__/Database_Calls.cpython-311.pyc
research.db
